default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\ExceptionContext
                - App\Tests\Behat\PlayerContext
                - App\Tests\Behat\RedisContext
                - App\Tests\Behat\WebContext
                - App\Tests\Behat\WorldContext
                - App\Tests\Behat\ConnectPlayerContext
                - App\Tests\Behat\DisconnectPlayerContext
                - App\Tests\Behat\MovePlayerContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                class: App\SharedContext\Infrastructure\Framework\Kernel
                environment: test
