<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Symfony-Mercure-Game-Client</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>
<div id="content">
    <svg id="map" xmlns="http://www.w3.org/2000/svg"
         style="background:#333;display:block;margin:auto;"></svg>
    <div style="margin-top:10px;text-align:center;">
        <p style="margin-bottom:5px;">Current player: <strong id="playerId"></strong></p>
        <button type="button" id="chat">Send a hello chat message</button>
    </div>
</div>
<div id="disconnect" style="display:none;">
    <p style="margin-top:10px;text-align:center;">You have been disconnected!</p>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {

        const TILE_SIZE = 50;
        const mapElement = document.querySelector('#map');

        const drawLevel = (data) => {
            const width = data.width;
            const height = data.height;
            const tiles = data.tiles;
            const players = data.players;

            const viewWidth = width * TILE_SIZE;
            const viewHeight = height * TILE_SIZE;

            mapElement.innerHTML = '';

            for (let y = 0; y < height; y++) {
                for (let x = 0; x < width; x++) {
                    const index = y * width + x;
                    const value = tiles[index];

                    const elt = document.createElementNS('http://www.w3.org/2000/svg', 'rect');
                    elt.setAttribute('width', viewWidth / width);
                    elt.setAttribute('height', viewHeight / height);
                    elt.setAttribute('x', x * (viewWidth / width));
                    elt.setAttribute('y', y * (viewHeight / height));
                    elt.setAttribute('fill', value === 1 ? '#333' : '#EEE');
                    elt.dataset.x = x;
                    elt.dataset.y = y;
                    mapElement.appendChild(elt);
                }
            }

            for (let player of players) {
                const elt = document.createElementNS('http://www.w3.org/2000/svg', 'circle');
                elt.setAttribute('r', viewWidth / width / 4);
                elt.setAttribute('cx', player.x * (viewWidth / width) + (viewWidth / width / 2));
                elt.setAttribute('cy', player.y * (viewHeight / height) + (viewHeight / height / 2));
                elt.setAttribute('fill', 'red');
                mapElement.appendChild(elt);
            }

            mapElement.style.width = viewWidth;
            mapElement.style.height = viewHeight;
        };

        fetch('https://localhost/connect', {
            method: 'POST',
            body: JSON.stringify({
                playerName: 'testPlayer'
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(res => res.json())
            .then((json) => {
                document.querySelector('#playerId').innerHTML = json.playerId;

                const playerEventSource = new EventSource('https://localhost/.well-known/mercure?topic=player_' + json.playerId, {withCredentials: true});
                playerEventSource.onmessage = (event) => {
                    const data = JSON.parse(event.data);

                    switch (data.TYPE) {
                        case 'EXCEPTION':
                            Toastify({
                                text: data.MESSAGE,
                                position: 'left',
                                duration: 5000,
                                style: {
                                    background: 'red',
                                }
                            }).showToast();

                            console.log(data.EXCEPTION);
                            break;

                        case 'DISCONNECT':
                            playerEventSource.close();
                            levelEventSource.close();
                            messageEventSource.close();

                            document.querySelector('#content').remove();
                            document.querySelector('#disconnect').style.display = 'block';
                            break;

                        case 'LEVEL_CHANGE':
                            levelEventSource.close();
                            levelEventSource = new EventSource('https://localhost/.well-known/mercure?topic=level_' + json.worldId + '_' + data.LEVEL, {withCredentials: true});
                            levelEventSource.onmessage = onLevelEvent;

                            messageEventSource.close();
                            messageEventSource = new EventSource('https://localhost/.well-known/mercure?topic=message_' + json.worldId + '_' + data.LEVEL, {withCredentials: true});
                            messageEventSource.onmessage = onMessageEvent;
                            break;
                    }
                };

                let levelEventSource = new EventSource('https://localhost/.well-known/mercure?topic=level_' + json.worldId + '_' + json.levelData.level_name, {withCredentials: true});
                const onLevelEvent = (event) => {
                    drawLevel(
                        JSON.parse(event.data)
                    );
                };
                levelEventSource.onmessage = onLevelEvent;

                let messageEventSource = new EventSource('https://localhost/.well-known/mercure?topic=message_' + json.worldId + '_' + json.levelData.level_name, {withCredentials: true});
                const onMessageEvent = (event) => {
                    const data = JSON.parse(event.data);

                    Toastify({
                        text: data.PLAYER + ': ' + data.MESSAGE,
                        position: 'right',
                        duration: 5000,
                        style: {
                            background: 'blue',
                        }
                    }).showToast();
                };
                messageEventSource.onmessage = onMessageEvent;

                mapElement.onclick = (event) => {
                    const dataset = event.target.dataset;

                    if (!dataset.hasOwnProperty('x') || !dataset.hasOwnProperty('y')) return;

                    const {x, y} = dataset;

                    fetch('https://localhost/move', {
                        method: 'POST',
                        body: JSON.stringify({
                            playerId: json.playerId,
                            targetX: parseInt(x),
                            targetY: parseInt(y)
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                };

                document.querySelector('#chat').onclick = () => {
                    fetch('https://localhost/message', {
                        method: 'POST',
                        body: JSON.stringify({
                            playerId: json.playerId,
                            message: 'Hello!'
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                };


                drawLevel(json.levelData);
            });

    });
</script>
</body>

</html>